---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";

const { research_areas } = profile;
---

<Layout title="Research | Dr. Marie Curie">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Research Statement</h1>

    <div class="mb-12">
      <p class="text-lg mb-6">
        My research centers on interdisciplinary, data-driven technologies, covering areas such as the Semantic Web, Linked Data, Knowledge Graphs, Data Spaces, Smart Cities, the Internet of Things (IoT), and Machine Learning. 
      </p>
    </div>

    <h2 class="text-2xl font-bold mb-6">Research Areas</h2>
    <div class="grid gap-8 mb-12">
      {
        research_areas.map((area) => (
          <div class="flex gap-6 items-start">
            <BetterIcon>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="1"
                class="size-16 stroke-accent"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d={RESEARCH_ICONS[area.field as keyof typeof RESEARCH_ICONS]?.path || RESEARCH_ICONS['computer-science'].path}
                />
              </svg>
            </BetterIcon>
            <div>
              <h3 class="text-xl font-semibold mb-2">{area.title}</h3>
              <p class="text-base">{area.description}</p>
            </div>
          </div>
        ))
      }
    </div>

    <List listTitle="Current Projects" listItems={[
      {
        title: "CRISP Knowledge Graph",
        description: "The CRISP Knowlege Graph aims to establish the backbone of information integration for gathering Austrian infrastructure systems pertinent for crisis management."
      },
      {
        title: "AgriFLARE",
        description: "Development Towards Turstworthy and Privacy-Preserving AI in Smart Agriculture."
      }
    ]} />

    <!-- <h2 class="text-2xl font-bold mb-6">Research Impact</h2>
    <p class="text-lg mb-6">
      My research has opened new frontiers in radioactivity studies, leading to practical applications in both scientific research and medical treatments. The discoveries have revolutionized our understanding of atomic structure and radioactive decay processes.
    </p> -->
  </div>
</Layout>
