---
import Layout from "@/layouts/Layout.astro";
// import { publications } from "@/data/papers";
// import { highlightAuthor } from "@/lib/utils";
// import {template} from "@/settings";
import { getCollection } from 'astro:content'

import PaperItem from "@/components/paper/PaperItem.astro";

import Paper from '@/assets/paper.svg'


// const ALL_PAPERS = publications; // This will be replaced with dynamic data later

const publications = (await getCollection('paper'))
	.sort((a, b) => b.data.year - a.data.year)

---

<Layout title="Publication">
  <div class="prose max-w-none">
    
    <div class="flex items-center gap-2 mb-8">
      <Paper class="size-12" fill="currentColor" />
      <h1 class="text-3xl font-bold mt-4">Publications</h1>
    </div>


    <div class="space-y-8">
      {
        publications.map((paper) => (

          <PaperItem paper={paper} />
          
        ))
      }
    </div>

  </div>
</Layout>
